.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__main {
    width: 99vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(146, 48, 195, 0.783); */
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, rgb(97, 23, 181) 0, transparent 59%), 
        radial-gradient(at 82% 65%, rgb(28, 17, 39) 0, transparent 55%);
}

.header__main {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 600;
    color: white;
}

